* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

header {
  background-color: #FFFFFF;
  position: fixed;
  top 0;
  left 0;
  width: 100%;
  height: 105px;
}

#main {
  padding-top: 105px;
  width: 100%;
}

h1 {
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  line-height: 1.5;
}

.buttons {
  display: flex
}

.buttons button {
  display: inline;
  flex: 1;
}

input {
  box-sizing: border-box;
}

#recordInputBox {
  display: flex
}

#recordInputBox > #text {
  display: inline;
  flex: 1;
}

#editInputBox {
  display: flex;
  flex-flow: column nowrap; 
}

#editInputBox > #time {
  display: inline;
  flex: 1;
}

#editInputBox > #edit{
  display: inline;
  flex: 3;
}

time {
  font-size: 0.9em;
  padding-right: 0.3em;
}

ul {
  margin: 0.5em 0em 0em 0em;
  padding: 0;
  border: 0;
  display: block;
}

ul > li {
  color: white;
  background: #81d0cb;
  line-height: 1.5;
  padding: 0.5em 0.5em 0.5em 2em;
  border-bottom: 2px solid white;
  margin: 0;
  list-style-type: none!important;
  font-weight: bold;
  display: block;
  word-wrap: break-word;
}

ul > li:before {
  font-family: FontAwesome;
  content: "\02710";
  position: absolute;
  left : 0.5em;
  color: white;
}

ul > li.selected {
  background: #00c0cb;
  border-style: double;
}
