body {
  width: 100%;
  background-color: #FFFFFF;
  margin: 0;
  border: 0;
  padding: 0;
}

.main {
  width: 100%;
}

h1 {
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  line-height: 1.5;
}

#buttons {
  display: flex
}

button {
  width: 50%;
  display: inline;
  flex: 1;
}

input {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

time {
  font-size: 0.9em;
  padding-right: 0.3em;
}

ul {
  margin: 0.5em 0em 0em 0em;
  padding: 0;
  border: 0;
  display: block;
}

ul li {
  color: white;
  background: #81d0cb;
  line-height: 1.5;
  padding: 0.5em 0.5em 0.5em 2em;
  border-bottom: 2px solid white;
  margin: 0;
  list-style-type: none!important;
  font-weight: bold; /*好みで太字に*/
  display: block;
}

ul li:before {/*疑似要素*/
  font-family: FontAwesome;
  content: "\02710";
  position: absolute;
  left : 0.5em; /*左端からのアイコンまでの距離*/
  color: white; /*アイコン色*/
}

